@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

.container,.content{
    max-width:100% !important;
    height:100%
}

html,body,.theme,.page,#app{
    height:100% !important;
}